
.container-fluid {
  background-color: #f8f9fa;
}

.header {
  background-color: #c8d4e1;
  padding: 10px;
  border-radius: 8px;
}

.header .image img {
  max-width: 100%;
  height: auto;
}

.header .btn-danger {
  background-color: #dc3545;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.filter {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #dee2e6;
}
.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-check-input {
  margin-right: 0.5rem;
}
.tab{
  background-color: #c8d4e1 !important; 
} 
.form-check-label {
  margin-bottom: 0;
}
.filter-header h4 {
  color: #495057;
}

.filter-header .btn-success {
  background-color: #28a745;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.filter-content .form-label {
  font-weight: 600;
}

.filter-content .form-control {
  border-radius: 8px;
}

.filter-content ng-select {
  width: 100%;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.btn-outline-secondary {
  border: 1px solid #6c757d;
  border-radius: 8px;
  color: #6c757d;
}

.table-responsive {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #dee2e6;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.btn-outline-primary {
  border: 1px solid #007bff;
  border-radius: 8px;
  color: #007bff;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.btn-link {
  border: none;
  border-radius: 8px;
  color: #007bff;
  text-decoration: none;
}

.btn-link.disabled {
  color: #6c757d;
}

.btn-link.active {
  font-weight: bold;
}
.custom-ng-select {
  /* Your custom styles for ng-select go here */
}

.custom-ng-select .ng-select-container {
  border: 1px solid #ced4da; /* Example border color */
  width: 90px !important;
  margin-top: 10px;
  border-radius: 5px;
  padding: 4px;
}

.custom-ng-select .ng-clear-wrapper {
  /* Example styles for clear button */
  color: #aaa;
}

.custom-ng-select .ng-option {
  /* Example styles for options */
  color: #333;
  background-color: #fff;
}

.custom-ng-select .ng-option.ng-option-marked {
  /* Example styles for marked options */
  background-color: #f0f0f0;
}


:host ::ng-deep .custom-ng-select .ng-select-container {
  border: 1px solid #ced4da;
}

:host ::ng-deep .custom-ng-select .ng-clear-wrapper {
  color: #aaa;
}

:host ::ng-deep .custom-ng-select .ng-option {
  color: #333;
  background-color: #fff;
}

:host ::ng-deep .custom-ng-select .ng-option.ng-option-marked {
  background-color: #f0f0f0;
}